<p id="notice"><%= notice %></p>

<h1>Listing Planet Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planet_types.each do |planet_type| %>
      <tr>
        <td><%= planet_type.name %></td>
        <td><%= link_to 'Show', planet_type %></td>
        <td><%= link_to 'Edit', edit_planet_type_path(planet_type) %></td>
        <td><%= link_to 'Destroy', planet_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Planet type', new_planet_type_path %>
