<%= form_for(@sub_sector) do |f| %>
  <% if @sub_sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_sector.errors.count, "error") %> prohibited this sub_sector from being saved:</h2>

      <ul>
      <% @sub_sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sector_id %><br>
    <%= f.number_field :sector_id %>
  </div>
  <div class="field">
    <%= f.label :subsector_X %><br>
    <%= f.number_field :subsector_X %>
  </div>
  <div class="field">
    <%= f.label :subsector_Y %><br>
    <%= f.number_field :subsector_Y %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
