<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @star.name %>
</p>

<p>
  <strong>System:</strong>
  <%= link_to @star.system.name, system_path(@star.system) %>
</p>

<p>
  <strong>Luminosity:</strong>
  <%= @star.luminosity %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @star.mass %>
</p>

<p>
  <strong>Diameter:</strong>
  <%= @star.diameter %>
</p>

<p>
  <strong>Surface temperature:</strong>
  <%= @star.surface_temperature %>
</p>

<%= link_to 'Edit', edit_star_path(@star) %> |
<%= link_to 'Back', system_path(@star.system) %>
